<!doctype html>
<html ng-app="notes">

<head>
    <meta charset="utf-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="font/font-awesome.min.css">
    <style>
        html {
            overflow-y: scroll;
        }

        body {
            padding-top: 50px;
        }

        #todo-list {
            margin-bottom: 30px;
        }

        #todo-form {
            margin-bottom: 50px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular/angular.min.js"></script>
    <script src="core.js"></script>
</head>

<body ng-controller="noteController">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>My Notes:
                <span class="label label-info">{{notes.length}}</span>
            </h1>
        </div>
    </div>

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Insert your note" ng-model="newNote">
                </div>
            </form>
        </div>
            <div class="col-sm-8 col-sm-offset-2 text-left" ng-show="newNote">
            <label>Preview:</label>
            <span>{{newNote | firstUppercase}}</span>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="addNote(newNote)" ng-disabled="!newNote">Add</button>
    </div>

    <div id="todo-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<div class="checkbox" ng-repeat="note in notes">
					<label>
						<input type="checkbox" ng-click="deleteNote($index)"> {{ note }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

</body>

</html>